@model Organiser.ViewModels.UsersViewModel

@{
    ViewData["Title"] = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<h2>User List</h2>
<br />


<div class="text-align-center">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</div>
<hr />
<table class="centralised tableCellRightBorder trHighlightOnHover striped">
    <tr>
        <th>User name</th>
        <th>Password</th>
        <th>Admin?</th>
        <th>Role List</th>
    </tr>
    @{
        int count = 0;
    }
    @foreach (var user in Model.Users)
    {
        count++;
        string twoLines = "  ||  ";

        <tr>
            <td>@user.UserName</td>
            <td>
                @if (user.IsAdmin)
                {
                    <p>Yes</p>
                }
                else
                {
                    <p>No</p>
                }
            </td>
            <td>
                <select style="width:130px;" class="form-control" asp-items='@user.UserRolesDropdown'></select>
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@user.UserId">Edit</a>
                @if (user.UserName != User.Identity.Name)
                {
                @twoLines
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@user.UserId">Delete</a>
                }
            </td>
        </tr>
    }
</table>